body{
    background: fixed;
    background-color: rgb(26, 27, 27);
    color: rgb(255, 255, 255);
    margin: 0;
    
}
body::-webkit-scrollbar{
  display: none;
}
main{
  align-items: center;
}
/*header*/
.header {
    overflow: auto;
    background-color: rgb(26, 27, 27);
    padding: 10px;
    color: blanchedalmond;
    box-shadow:0 0 10px black ;
    position: fixed;
    right: 0;
    left: 0;
  z-index: 1;
    margin: 0px;    
}
.nyuma{
  overflow: auto;
  background-color: rgba(26, 27, 27, 0);
  padding: 10px;
  color: rgba(255, 235, 205, 0);

  position: relative;
 margin-top: 5px;
  margin: 25px; 

}
.nav-list{
  display: none;
}

.header-link {
    color: rgb(35, 109, 119);
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    float: right;
   size: 100%;
   margin: 5px;
   font-family: sans-serif;
   transition: 0.6s ease;
   border-radius: 20px;
   
}

.header-link:hover {
    color: rgb(255, 255, 255);
}

.logo img{
    float: left;
    height: 50px;
}

.nav-toggle{
  display: none;
}

.logo{
   
    font-size: 50px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    padding-right:10px;
    color: rgb(0, 183, 255);
    text-align: center;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    font-weight: lighter;
    position: relative;
}
.cover img{
    text-align: center;
    padding: 0%;
    width: 100%;
    margin-top: 0%;
}

@media screen and (max-width:1230px){
    .logo{
        font-size: 30px;
    }
    .logo img {
      height: 30px;
    }
    .header{
        padding: 5px 15px;
    }   
}

@media screen and (min-width:0px) and (max-width:655px){
.nav-toggle {
  background: transparent;
  border: none;
  float: right;
  display: block;
  z-index: 1000;
  position: relative;
}

@media screen and (max-width:655px){
    .logo{
        font-size: 25px;
        text-align: center;
        padding: 1px;
       
    }
    .nyuma img{
      display: none;
    }
    .nyuma {
      overflow: auto;
    padding: 10px;
    
    right: 0;
    left: 0;
    margin: 0px; 

    }
  .header-link{display: none;}
    
  .nav{
    position: fixed;
    background:  rgb(26, 27, 27);
    color:white;
     box-shadow:0 0 10px black ;
    top: 0;
    bottom: 20;
    left: 0;
    right:0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav-list{
    display: block;
    list-style: none;
  }

  li{
    margin: 10px;
  }
    .nav-link{
      color: rgb(35, 109, 119);
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
   size: 0%;
   font-family: sans-serif;
   transition: 0.6s ease;
 }
 .nav-link:hover{
   color: rgb(255, 255, 255);
 }

    .lines {
      height: 2px;
      width: 25px;
      margin: 5px;
      background-color:rgb(0, 183, 255);
      display: block;
    }

    .nav-open .nav{
      transform: translateX(30%);
    }
    .nav-open .nav-toggle{
      position: fixed;
      right: 0 ;
      
    }

/*main home*/
main{
    padding: 10px;
    margin: 2px;
    box-shadow: 0 0 0.5px white;
}

/*me*/
/*shop*/

/*slideshow*/
*{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}



.active {
  background-color: #00ccff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}}}

/*footer*/
footer{
  background-color: rgb(128, 126, 126);
  text-align: center;
  padding: 20px;
  padding-bottom: 90px;
  
  box-shadow: 0 0 2px white;
  position: relative;
  bottom: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
}
footer a{
  color: rgb(145, 171, 184);
  text-decoration: none;
}
footer a :hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*playlist*/
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}


.main{
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: rgb(26, 27, 27);
    box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}

/*top_section*/
.top_section{
  margin: 1em 0;
}
.top_section h5{
	color: #fff;
	font-size: 1.5em;
	font-family: 'Charmonman', cursive;
}


/*tracks part*/
.tracks{
  width: 90%;
  max-height: 75vh;
  overflow-y: scroll;
  padding: 10px 0;
  padding-bottom: 50px;
}
.tracks::-webkit-scrollbar {
  display: none;
}
.tracks .song:not(:first-child){
  margin-top: 1em;
}
.tracks .song{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 5px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0.1px 2px 2px rgba(0,0,0,0.1);
}
.tracks .song .more{
  margin-left: 1.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tracks .song .song_info p:nth-child(2){
  font-size: 0.8em;
  margin-top: 10px;
  color: rgba(255,255,255,0.5);
}
.tracks .song  #play_btn{
  height: 50px;
  width: 50px;
  border:none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  color: #fff;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.tracks .song button i{
			font-size: 1.5em;
}
.tracks .song:not(:first-child){
			margin-top: 15px;
}
.tracks .song .img{
  height: 70px;
  width: 80px;
  overflow: hidden;
  border-radius: 15px;
}
.tracks .song .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/*controlls part*/
.controlls{
		   width: 75%;
		   margin-top: 2.5em;
}
.progress_part{
			width: 100%;
			margin-bottom: 2em;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
}
.progress_part p{
  color: #fff;
}
.progress_part .durations{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} 
.progress_part #slider{
  width: 100%;
}
.controlls_btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controlls_btns button{
  height: 50px;   
  width: 50px;   
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
  background: none;
  transition: 0.5s;
  border-radius: 50%;
}
.controlls_btns button:hover{	
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.controlls_btns button i{
  font-size: 1.3em;
}

.controlls_btns button:nth-child(2){
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.controlls_btns button i{
  color: #fff;
}


/*range slider*/
#slider{
  -webkit-appearance: none;
  outline: none;
  width: 85%;
  height: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  background: #136b9e;
  box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2) inset,
	            0.1px 8px 8px 2px rgba(0,0,0,0.2);
}


/*popup_music_player part*/
.main .popup_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgb(16, 20, 22);
  padding: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  transform: translateY(110%);
  transition: 0.4s;
  box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}

/*top*/
.top{
  width: 100%;
  padding: 10px 20px;
  color: #ccc;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.top p{
  font-family: 'Charmonman', cursive;
}
.top i{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
background: rgba(255,255,255,0.1);
}
.popup_music_player .song_img{
margin-top: 2em;
height: 200px;
width: 200px;
border-radius: 5%;
overflow: hidden;

}
.popup_music_player img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.song_description{
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.song_description h3{
  font-size: 1.2em;
  color: #fff;
}
.song_description p{
  color: #ccc;
  margin-top: 5px;
}

/*small music player*/
.small_music_player{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background:  rgb(17, 33, 44);
  transition: 0.4s;
  z-index: 1000;
  transform: translateY(80px);
}
.s_player_img{
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0.1px 4px 8px 5px rgba(0,0,0,0.3);
}
.playing_img{
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.small_music_player p{
  color: #fff;
}
.s_player_img .playing_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#up_player{
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255,255,255,0.1);	
}
#artist_name{
  font-size: 0.8em;
  margin-top: 5px;
  color: rgba(255,255,255,0.5);
}


/*wave animation*/
.wave_animation{
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}
.wave_animation li{
  list-style: none;
  width: 5px;
  margin: 0 3px;
  border-radius: 15px;
  background: rgba(0, 255, 234, 0.4);
  animation: animate 0.5s linear alternate infinite;
			
}
.wave_animation li:nth-child(2){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(3){
  animation-delay: 1s;
}
.wave_animation li:nth-child(4){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(5){
  animation-delay: 1s;
}


/*animation*/
@keyframes animate {
  0%{
    height: 0px;
  }
  100%{
	height: 20px;
  }
}

