body{
    background: fixed;
    background-color: rgb(26, 27, 27);
    color: rgb(255, 255, 255);
}

/*header*/
.header {
    overflow: auto;
    background-color: rgb(26, 27, 27);
    padding: 10px;
    color: blanchedalmond;
    box-shadow: 0 0 20px rgb(99, 91, 91);
    position: relative;
    margin: 0px;
        
}
.header a {
    color: rgba(0, 0, 0, 0.541);
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    float: right;
    background-color: rgba(76, 176, 216, 0.411);
   size: 100%;
   margin: 5px;
   font-family: sans-serif;
   transition: 0.6s ease;
   border-radius: 20px;
   
}

.header a:hover {
    text-decoration: none;
    color: rgb(86, 129, 221, 0.541);
    
   background-color: rgb(255, 255, 255, 0.103);
   
    
     
}

.logo img{
    float: right;
    height: 50px;
    padding-left: 15px;
}


.logo{
   
    font-size: 50px;
    font-style: italic;
    font-family: fantasy;
    float: left;
    padding-right:10px;
    color: rgb(0, 183, 255);
    text-align: center;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    font-weight: lighter;
    position: relative;
    
}
.cover img{
    text-align: center;
    padding: 0%;
    width: 100%;
    box-shadow: 0 0 30px rgb(163, 157, 157);
    margin-top: 0%;
}
@media screen and (max-width:1230px){
    .logo{
        font-size: 30px;
        
    }
    .header{
        padding: 5px 15px;
    }
}

@media screen and (max-width:1030px){
    .logo {
        float: none;
        text-align: center;
        font-size: 50px;
    }
    .header-one {
        float: left;
    }
    .header a{
        font-size: 18px;
    }
    .header-two {
        float: right;
    }
   
    }
@media screen and (max-width:650px){
    .logo{
        font-size: 25px;
        text-align: center;
        padding: 1px;
       
    }
    .header a {
        display: none;
        font-size: 14px;
        padding: 1px;
        padding: auto;
        margin: 2px;
    }
    .header-one{
        float: left;
    }
    .header-one a {
        float: none;
        display: block;
        
    }
    .header-two {
        float: right;
        
    }
    .header-two a {
        float: none;
        display: block;
    }
    
}

/*main home*/
main{
    padding: 10px;
    margin: 2px;
    box-shadow: 0 0 0.5px white;
}


/*footer*/
footer{
    background-color: rgba(128, 126, 126, 0.212);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 2px white;
    position: relative;
    bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 238, 255);
}
footer a{
    color: rgb(145, 171, 184);
    text-decoration: none;
}
footer a :hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*me*/